{% extends "base.html" %}


{% block title %}
About | Kharada Translator
{% endblock %}




{% block content %}



<section class="hero">


    <h1>

        About Kharada Translator

    </h1>


    <p>

        AI Based Kharada Language Translation System

    </p>


</section>





<div class="translator-card">



    <h2 style="
    color:#2563EB;
    margin-bottom:20px;">

        About The Project

    </h2>




    <p style="
    font-size:17px;
    line-height:1.8;
    color:#475569;">


        Kharada Translator is an AI-powered language translation
        system developed to convert Kharada language text into
        English language accurately.



        The system uses Natural Language Processing (NLP)
        techniques and transformer-based models to understand
        language patterns and generate meaningful translations.


    </p>





    <br>



    <h2 style="
    color:#2563EB;
    margin-bottom:15px;">

        Key Features

    </h2>



    <div class="card-container">


        <div class="card">


            <i class="fa-solid fa-language"
            style="
            font-size:35px;
            color:#2563EB;">
            </i>


            <h3>

                Language Translation

            </h3>


            <p>

                Converts Kharada text into English.

            </p>


        </div>





        <div class="card">


            <i class="fa-solid fa-microphone"
            style="
            font-size:35px;
            color:#2563EB;">
            </i>


            <h3>

                Voice Input

            </h3>


            <p>

                Supports speech based input.

            </p>


        </div>





        <div class="card">


            <i class="fa-solid fa-database"
            style="
            font-size:35px;
            color:#2563EB;">
            </i>


            <h3>

                Translation History

            </h3>


            <p>

                Stores previous translations.

            </p>


        </div>




    </div>






    <br><br>




    <h2 style="
    color:#2563EB;">

        Technologies Used

    </h2>



    <ul style="
    margin-top:15px;
    line-height:2;
    color:#475569;">


        <li>
            Python
        </li>


        <li>
            Flask Framework
        </li>


        <li>
            HTML, CSS, JavaScript
        </li>


        <li>
            Natural Language Processing (NLP)
        </li>


        <li>
            Transformer Based Translation Model
        </li>


    </ul>



</div>




{% endblock %}