<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Kharada Translator{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          rel="stylesheet">

</head>

<body>

<!-- NAVBAR -->

<nav class="navbar">

    <div class="logo">

        <i class="fa-solid fa-language"></i>

        KHARADA TRANSLATOR

    </div>

    {% if session.get("user") %}

    <ul>

        <li>

            <a href="/dashboard">

                <i class="fa-solid fa-house"></i>

                Dashboard

            </a>

        </li>

        <li>

            <a href="/translator">

                <i class="fa-solid fa-language"></i>

                Translator

            </a>

        </li>

        <li>

            <a href="/history">

                <i class="fa-solid fa-clock-rotate-left"></i>

                History

            </a>

        </li>

        <li>

            <a href="/performance">

                <i class="fa-solid fa-chart-column"></i>

                Performance

            </a>

        </li>

        <li>

            <a href="/profile">

                <i class="fa-solid fa-user"></i>

                Profile

            </a>

        </li>

        <li>

            <a href="/about">

                <i class="fa-solid fa-circle-info"></i>

                About

            </a>

        </li>

        <li>

            <a href="/logout">

                <i class="fa-solid fa-right-from-bracket"></i>

                Logout

            </a>

        </li>

    </ul>

    {% endif %}

</nav>


<div class="page">

{% block content %}

{% endblock %}

</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>