{% extends "base.html" %}

{% block title %}Translation History{% endblock %}

{% block content %}

<div class="history-container">

    <div class="history-header">

        <h1>Translation History</h1>

        <input type="text"
               id="historySearch"
               placeholder="🔍 Search history..."
               onkeyup="searchHistory()">

    </div>

    <table id="historyTable">

       <thead>
    <tr>
        <th>S.No</th>
        <th>Kharada Text</th>
        <th>English Translation</th>
        <th>Model Used</th>
        <th>Translated At</th>
    </tr>
</thead>

  <tbody>

{% for row in records %}

<tr>

    <td>{{ loop.index }}</td>

    <td>{{ row[2] }}</td>

    <td>{{ row[3] }}</td>

    <td>{{ row[1] }}</td>

    <td>{{ row[4] }}</td>

</tr>

{% endfor %}

</tbody>

    </table>

</div>

{% endblock %}