{% extends "base.html" %}

{% block title %}Login | Kharada Translator{% endblock %}

{% block content %}

<div class="login-page">

    <div class="login-left">

        <h1>Kharada Language Translator</h1>

        <p>
            AI Powered Translation System using
            <b>Transformer</b> and <b>LSTM</b> Models
        </p>

        <ul class="features">

            <li>✔ Secure Login</li>

            <li>✔ Fast Translation</li>

            <li>✔ Translation History</li>

            <li>✔ Model Performance Comparison</li>

            <li>✔ Interactive Charts & Analytics</li>

        </ul>

    </div>


    <div class="login-card">

        <div class="login-icon">

            <i class="fa-solid fa-language"></i>

        </div>

        <h2>Welcome Back</h2>

        <p class="subtitle">

            Login to continue

        </p>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}

        {% for category,message in messages %}

        <div class="flash {{category}}">

            {{message}}

        </div>

        {% endfor %}

        {% endif %}
        {% endwith %}

        <form action="{{ url_for('login') }}" method="POST">

            <label>Email</label>

            <input
                type="email"
                name="email"
                placeholder="Enter Email"
                required>

            <label>Password</label>

            <div class="password-box">

                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Enter Password"
                    required>

                <span onclick="togglePassword('password')">

                    <i class="fa-solid fa-eye"></i>

                </span>

            </div>

            <button type="submit">

                Login

            </button>

        </form>

        <div class="bottom-text">

            Don't have an account?

            <a href="{{ url_for('register') }}">

                Register

            </a>

        </div>

    </div>

</div>

{% endblock %}