{% extends "base.html" %}

{% block title %}Register | Kharada Translator{% endblock %}

{% block content %}

<div class="login-page">

    <div class="login-left">

        <h1>Create Your Account</h1>

        <p>
            Join the AI Powered Kharada Language Translation System.
        </p>

        <ul class="features">

            <li>✔ Secure User Authentication</li>
            <li>✔ Translation History</li>
            <li>✔ Transformer & LSTM Models</li>
            <li>✔ AI Performance Dashboard</li>

        </ul>

    </div>

    <div class="login-card">

        <div class="login-icon">

            <i class="fa-solid fa-user-plus"></i>

        </div>

        <h2>Create Account</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category,message in messages %}
                <div class="flash {{category}}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <form method="POST">

            <label>Username</label>

            <input
                type="text"
                name="username"
                placeholder="Enter Username"
                required>

            <label>Email</label>

            <input
                type="email"
                name="email"
                placeholder="Enter Email"
                required>

            <label>Password</label>

            <div class="password-box">

                <input
                    id="registerPassword"
                    type="password"
                    name="password"
                    placeholder="Enter Password"
                    required>

                <span onclick="togglePassword('registerPassword')">

                    <i class="fa-solid fa-eye"></i>

                </span>

            </div>

            <button type="submit">

                Register

            </button>

        </form>

        <div class="bottom-text">

            Already have an account?

            <a href="/login">

                Login

            </a>

        </div>

    </div>

</div>

{% endblock %}